<div class="contacts-background">
    <div class="row">
        <div class="col-xs-12">
            <div class="contact"> 
                <h1> <i class="fa fa-address-card green" aria-hidden="true"></i> Contact us:</h1>
            </div>
            <div class="svyaz">
            <span > Если у вас есть вопросы или вы хотите помочь своему другу или близкому человеку - свяжитесь с нами.</span>
            </div>
            <h2> <i class="fa fa-facebook-square" aria-hidden="true"> Facebook</i></h2>
            <h2> <i class="fa fa-odnoklassniki-square" aria-hidden="true"> Odnooklassniki</i></h2>
            <h2><i class="fa fa-vk" aria-hidden="true"> V Kontakte</i></h2>
            <h2><i class="fa fa-twitter-square" aria-hidden="true"> Twitter</i></h2>
            <a href="tel:718-698-7359">
                <h2><i class="fa fa-phone-square" aria-hidden="true"> (718)698-7359</i></h2>
            </a>
            <a href="tel:347-678-6614">
                <h2><i class="fa fa-phone-square" aria-hidden="true"> (347)678-6614</i></h2>
            </a>
            <a href="mailto:info@startfreshlife.com" target="_blank">
                <h2><i class="fa fa-envelope-square" aria-hidden="true"> Email: info@startfreshlife.com</i></h2>
            </a>
        </div>
    </div>
</div>
       

