<h3>Анатолий С., Пенсильвания.</h3>
<p>Неделю я пил не просыхая. На восьмой день угарного запоя, я проснулся от нечеловеческого отчаяния и страха: мне причудилось, что лохматое черное чудовище, оскалив желтые клыки, собирается перегрызть мне горло.<br>
    <a href="" ng-click="show1=true">
        <i ng-hide="show1" class="glyphicon glyphicon-menu-right">дальше</i>
    </a>

</p>
<div ng-show="show1">
    <testimonial1-open></testimonial1-open>
</div>
<a href="" ng-click="show1=false">
    <i ng-show="show1" class="glyphicon glyphicon-menu-left">закрыть</i>
</a>