<h3>Виталий Ч.</h3>
<p> Я пил-пил и допился. Доктор сказал: «Не бросишь «подружку» свою сорокаградусную тогда иди, заказывай себе место на кладбище». Но кто же туда хочет! Вот и стал я всех расспрашивать, может кто даст рецепт как от этого проклятущего «зеленого змия» избавиться.<br>
    <a href="" ng-click="show3=true">
        <i ng-hide="show3" class="glyphicon glyphicon-menu-right">дальше</i>
    </a>

</p>
<div ng-show="show3">
    <testimonial3-open></testimonial3-open>
</div>
<a href="" ng-click="show3=false">
    <i ng-show="show3" class="glyphicon glyphicon-menu-left">закрыть</i>
</a>
<hr>