<h3>Иосиф К.</h3>
<p>Моя жена всегда любила выпить. Под хмельком она становилась веселой, любила гостей и сама очень любила ходить в гости. Сначала мне это нравилось. Но потом я стал замечать, что все чаще остаюсь с сыновьями, а она все чаще уходит в гости одна.<br>
    <a href="" ng-click="show2=true">
        <i ng-hide="show2" class="glyphicon glyphicon-menu-right">дальше</i>
    </a>

</p>
<div ng-show="show2">
    <testimonial2-open></testimonial2-open>
</div>
<a href="" ng-click="show2=false">
    <i ng-show="show2" class="glyphicon glyphicon-menu-left">закрыть</i>
</a>
<hr>